@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-navbar-color: #11170B;
  --color-dark-background:#151C0D;
  --color-background: #283618;
  --color-dark-olive: #1E2912;
  --color-olive: #445128;
  --color-light-olive: #606C38;
  --color-gray-olive: #7A825A;
  --color-accents: #CD8742;
  --color-light-accents: #DDA15E;
  --color-light-text: #FEFAE0;

  --color-background: var(--background)
  --color-foreground: var(--foreground)
}

@theme inline {
  --font-sans: var(--font-geist-mono); 
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

